@charset "UTF-8";
/* Typeface source: https://rsms.me/inter/ */
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./Inter-roman.var.woff2?v=3.18") format("woff2");
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: black url("./background.webp") center center no-repeat;
  background-size: cover;
  color: white;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", Helvetica, Arial, sans-serif;
  }
}
body {
  display: block;
  min-height: 100vh;
  margin: 0;
  text-rendering: optimizeSpeed;
}
@media (min-width: 500px) {
  body {
    display: grid;
    place-items: center;
  }
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

strong {
  font-weight: 900;
}

.Container {
  padding: 1rem;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1.5em;
  background: linear-gradient(to right bottom, rgba(79, 109, 245, 0.8), rgba(79, 109, 245, 0.438));
  backdrop-filter: blur(0.7rem);
  box-shadow: 5px 10px 30px #0c0d11;
}
@media (min-width: 300px) {
  .Container {
    margin: 2vh;
    padding: 2rem;
    border-radius: 2rem;
  }
}
@media (min-width: 500px) {
  .Container {
    margin: 2vh;
    padding: 3rem;
  }
}

header {
  display: block;
}
@media (min-width: 930px) {
  header {
    display: grid;
    grid-template-columns: 1fr 2fr 0.1fr;
  }
}

.Avatar {
  display: block;
  width: 112px;
  margin: 0 1em 1em 0;
}
@media (min-width: 380px) {
  .Avatar {
    float: left;
  }
}
@media (min-width: 930px) {
  .Avatar {
    width: clamp(130px, 14vw, 12rem);
    justify-content: flex-end;
    align-items: center;
    margin: auto 1em 1em auto;
    display: flex;
    grid-row: 1/4;
    grid-column: 1/2;
  }
}

.Avatar img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 5px 10px 15px rgba(24, 25, 27, 0.479);
}

.TitlulPaginii {
  display: block;
  margin: 0;
  font-size: clamp(2rem, 6vw, 4rem);
  line-height: 1em;
  text-shadow: 5px 10px 15px #17171f;
}
@media (min-width: 930px) {
  .TitlulPaginii {
    display: flex;
    grid-column: 2/3;
    justify-content: flex-start;
    align-items: center;
  }
}

.SubtitlulPaginii {
  display: block;
  margin: 0.1em;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
  line-height: 1em;
  text-shadow: 5px 10px 15px #242531;
}
@media (min-width: 930px) {
  .SubtitlulPaginii {
    display: flex;
    grid-column: 2/3;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.8em;
  }
}

.DescrierePrincipala {
  display: block;
  margin: 0.5em 0 1.5em;
  text-shadow: 5px 10px 15px #242531;
}
@media (min-width: 500px) {
  .DescrierePrincipala {
    margin: 0 0 1.5em 0;
  }
}
@media (min-width: 930px) {
  .DescrierePrincipala {
    display: flex;
    grid-column: 2/3;
    justify-content: flex-start;
    align-items: center;
  }
}

main {
  clear: both;
}

.ListaLinkuri {
  display: block;
  margin: 0;
  padding: 0;
  border-top: 1px solid #b8b8b8;
}
@media (min-width: 1800px) {
  .ListaLinkuri {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ListaItem {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #b8b8b8;
}

.ListaLink {
  display: block;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
}
.ListaLink:hover {
  background: rgba(249, 251, 255, 0.582);
  color: black;
}

.ListaTitlu, .ListaText {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 900;
}

.ListaText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.ListaTitlu {
  text-shadow: 5px 10px 20px #3e4255;
}

.map {
  display: block;
  margin: 0;
  padding: 0;
}
.map h2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 900;
  text-shadow: 5px 10px 15px #242531;
}
.map iframe {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
}
@media (min-width: 1800px) {
  .map {
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media print {
  * {
    background-image: none;
    background: white;
    color: black;
  }

  @page {
    margin: 2cm;
  }
  @page :first {
    margin-top: 3cm;
  }
  @page :left {
    margin-right: 3cm;
  }
  @page :right {
    margin-left: 3cm;
  }
  html {
    background: white;
    font-size: 12pt;
    line-height: 1.5em;
  }

  a:link, a:visited {
    color: #00f;
    background: transparent;
    font-weight: bold;
  }

  a:not([href^=http]):after {
    content: " (" attr(href) ")";
    font-size: 0.9em;
  }

  a[href^="/"]:after {
    content: " (https://valentineremia.github.io/first/" attr(href) ") ";
  }

  /*a:not(:local-link):after { content: " (" attr(href) ")»"; }*/
  a:after > img {
    content: "";
  }

  body::after {
    content: "Copyright © Valentin Eremia, toate drepturile rezervate.";
    display: block;
    text-align: center;
  }

  .Container {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1 + h2 {
    page-break-before: avoid;
  }

  table, pre, img, svg, blockquote, a {
    break-inside: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }

  .TitlulPaginii {
    padding-top: 0.5em;
  }

  .ListaText {
    display: inline;
    color: #00f;
    white-space: normal;
    text-decoration: underline;
  }
}/*# sourceMappingURL=style.css.map */